.form
	width: 50%
	min-width: 14em
	margin-left: auto
	margin-right: auto
.checkbox
	margin: 1em 0.5em 1em 0

.btns
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap

	button + button
		margin-left: 2em
		@media screen and (max-width: 900px)
			margin-left: 0
			margin-top: 0.5em
.boxes
	display: flex
	justify-content: space-between
	align-items: center
	input
		margin: 0
	span
		cursor: pointer
