// minimum reset
*
	margin: 0
	padding: 0
	box-sizing: border-box

a
	color: inherit
	display: inline-block

button, input, textarea
	font: inherit

.cnt
	max-width: 1200px
	margin: auto
	padding: 0 15px

//general style
html
	font-family: Poppins, sans-serif
